
game/saves/auto-1-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-9-LT1.save
game/saves/persistent
log.txt
traceback.txt
